
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/Scripts/crafty.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/JS/Component.js"></script>
    <script src="~/JS/InGame.js"></script>
    <script src="~/JS/Scenes.js"></script>
    <script>
        window.addEventListener('load', Game.start);
    </script>
    <style type="text/css" media="screen">
        body {
            background: black;
            text-align: center;
            color: #DDD;
            font-family: Arial;
        }

        .controls {
            color: #BBB;
        }

        #cr-stage {
            margin: 20px auto 0;
        }

        .bottom {
            font-size: 12px;
            color: #888;
            margin-top: 50px;
        }

            .bottom a {
                color: #AAA;
            }
    </style>
</head>
<body>
    <h2>Crafty's Adventure</h2>

    <p>Help Crafty visit her friends in each village.</p>

    <p class="controls">Controls: Use W, A, S, and D or arrow keys to move around.</p>

    <div id="cr-stage"></div>

    <p class="bottom">Created for the "Introduction to Crafty Game Engine" tutorial on <a href="http://buildnewgames.com" target="_blank">Build New Games</a>.
</body>
</html>
