@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/phaser.min.js"></script>
    <script type="text/javascript" src="~/js/Boot.js"></script>
    <script type="text/javascript" src="~/js/Preload.js"></script>
    <script type="text/javascript" src="~/js/Game.js"></script>
    <script src="~/js/Over.js"></script>
    <script src="../js/main.js"></script>


</head>
<body>
    <div id="game"></div>
</body>

</html>
<footer>
</footer>